* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// fonts
@font-face {
    font-family: "opensans";
    src: url(fonts/i7dOIFdwYjGaAMFtZd_QA1ZbYFc.woff2);
}

@font-face {
    font-family: "nanulight";
    src: url(fonts/9Btx3DZF0dXLMZlywRbVRNhxy2LscnUejfyk.woff2);
}

// colors
$color-bg: #F9F5F3;
$heading-color: #B2856E;
$text-color: #6B6765;


body {
    margin: 0;
    font-family: "opensans", sans-serif;
    background-color: $color-bg;
    line-height: 1.6;
}

header,
section {
    max-width: 2000px;
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid #6b676530;

    .left-container {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        nav {
            display: none;

            ul {
                list-style: none;
                display: flex;
                gap: 2rem;

                li {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        font-weight: 400;
                        font-size: 0.9rem;
                        font-size: 1rem;

                        &:hover {
                            color: $heading-color;
                        }
                    }
                }
            }
        }

        .pro-btn {
            display: none;
            padding: 0.5rem 1.5rem;
            background-color: $heading-color;
            color: white;
            border: none;
            border-radius: 4rem;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;

            &:hover {
                background-color: #000000;
                color: #fff;
            }
        }
    }

    .right-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 1.2rem;
        display: none;

        small {
            font-size: 0.9rem;
            font-weight: 600;
        }

        i {
            cursor: pointer;

            &:hover {
                color: $heading-color;
            }
        }
    }

    .menu-toggle-btn {
        font-size: 2rem;
        cursor: pointer;
    }
}

@mixin flex-column($gagp: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gagp;
}

main {
    .section1 {
        .container {
            margin: 8rem 0;
            width: 100%;
            padding: 0 0.5rem;

            .top {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 2rem;
                }
            }

            .bottom {
                h1 {
                    font-size: 2.7rem;
                    color: $heading-color;
                    font-family: "nanulight";
                    margin: 1rem 0;
                    font-weight: 400;
                    line-height: 1.2;
                }

                p {
                    color: $text-color;
                    font-size: 1.5rem;
                }

                button {
                    margin-top: 1.5rem;
                    padding: 1rem 2rem;
                    background-color: $heading-color;
                    color: white;
                    border: none;
                    border-radius: 4rem;
                    text-decoration: none;
                    font-size: 1.2rem;
                    outline: none;
                    font-weight: 300;
                    text-transform: uppercase;

                    &:hover {
                        background-color: #000000;
                        color: #fff;
                    }
                }
            }
        }
    }

    .section2 {
        margin: 0 auto;

        .container {
            width: 100%;
            padding: 0 0.5rem;
            @include flex-column(1.5rem);
            text-align: center;

            .box {
                .icon {
                    i {
                        font-size: 3rem;
                        color: $heading-color;
                        font-weight: 300;
                    }
                }

                .text {
                    h2 {
                        font-size: 2rem;
                        color: $heading-color;
                        font-weight: 400;
                        font-family: "nanulight";
                    }

                    p {
                        color: $text-color;
                    }
                }
            }
        }
    }

    .section3 {
        margin: 0 auto;

        .container {
            margin: 8rem 0;
            width: 100%;
            @include flex-column(2rem);
            padding: 0 0.5rem;

            .top {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 2rem;
                }
            }

            .bottom {
                width: 100%;
                padding: 0 2rem;
                @include flex-column(1rem);

                h1 {
                    font-size: 2.7rem;
                    color: $heading-color;
                    font-family: "nanulight";
                    font-weight: 400;
                    line-height: 1.2;
                }

                .para {
                    color: rgba(0, 0, 0, 0.712);
                    font-size: 1.5rem;
                    font-family: "opensans";
                    font-weight: 200;
                }

                p {
                    color: $text-color;
                }

                button {
                    padding: 1rem 2rem;
                    border: 1px solid rgba(0, 0, 0, 0.217);
                    color: $text-color;
                    border-radius: 4rem;
                    font-size: 1.2rem;
                    outline: none;
                    font-weight: 300;
                    text-transform: uppercase;
                    width: fit-content;
                    background-color: transparent;

                    &:hover {
                        background-color: #b2856e26;
                        border-color: transparent;
                    }
                }
            }
        }
    }

    .section4 {
        margin: 0 auto;

        .container {
            width: 100%;
            padding: 3rem 3rem;

            h2 {
                font-size: 2.5rem;
                color: $heading-color;
                font-family: "nanulight";
                text-align: center;
                margin-bottom: 2.5rem;
                line-height: 1.3;
                font-weight: 400;
            }

            .product-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .product-item {
                    @include flex-column(1rem);

                    img {
                        width: 100%;
                        border-radius: 1rem;
                        cursor: pointer;
                    }

                    img:hover {
                        transform: scale(1.03);
                        transition: transform 0.3s ease;
                    }

                    .product-detail {
                        @include flex-column(0rem);
                        text-align: center;

                        h3 {
                            font-size: 1.5rem;
                            color: $heading-color;
                            font-family: "nanulight";
                            font-weight: 400;
                            line-height: 1.2;
                        }

                        p {
                            color: $text-color;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .section5 {
        margin: 0 auto;
        padding: 8rem 1rem;

        .container {
            width: 100%;
            text-align: center;

            h2 {
                font-size: 3rem;
                color: $heading-color;
                font-family: "nanulight";
                margin-bottom: 1.5rem;
                line-height: 1.3;
                font-weight: 400;
            }

            p {
                color: $text-color;
                font-size: 1.5rem;
            }
        }
    }

    .section6 {
        .container {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .product-container {
                .product-item {
                    .product-detail {
                        h3 {
                            font-size: 2rem;
                        }

                        p {
                            font-family: "opensans";
                            font-size: 1rem;
                        }
                    }
                }
            }

            .btn {
                text-align: center;

                button {
                    padding: 1rem 2rem;
                    border: 1px solid rgba(0, 0, 0, 0.217);
                    color: $text-color;
                    border-radius: 4rem;
                    font-size: 1.2rem;
                    outline: none;
                    font-weight: 300;
                    text-transform: uppercase;
                    width: fit-content;
                    background-color: transparent;

                    &:hover {
                        background-color: #b2856e26;
                        border-color: transparent;
                    }
                }
            }
        }
    }

    .section7 {
        margin: 0 auto;
        padding: 8rem 1rem;

        .container {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .text-box {
                width: 100%;

                h2 {
                    font-size: 3.5rem;
                    color: $heading-color;
                    font-family: "nanulight";
                    margin-bottom: 1.5rem;
                    line-height: 1.3;
                    font-weight: 400;
                    max-width: 700px;
                    text-align: center;
                    margin: 0 auto;
                }
            }

            .input-box {
                position: relative;
                width: 100%;
                margin: 0 auto;

                input {
                    width: 100%;
                    padding: 1rem 3rem 1rem 1rem;
                    // border-radius: 4rem;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.217);
                    background-color: transparent;
                    font-style: italic;
                }

                i {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.5rem;
                    color: $heading-color;
                    cursor: pointer;
                    font-size: 2.5rem;

                    &:hover {
                        color: #000000;
                    }
                }
            }
        }
    }
}


// Media Queries

@media (min-width: 580px) {
    main {
        .section2 {
            .container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .section3 {
            .container {
                padding: 0 6rem;
            }
        }

        .section5 {
            .container {
                padding: 0 5rem;
            }
        }
    }
}

@media (min-width: 770px) {
    main {
        .section4 {
            .container {
                padding: 3rem 6rem;

                h2 {
                    font-size: 4rem;
                }

                .product-container {
                    display: flex;
                    flex-direction: row;

                    .product-item {
                        .product-detail {
                            text-align: center;

                            h3 {
                                font-size: 2rem;
                            }

                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        .section6 {
            .container {
                .product-container {

                    .product-item {
                        .product-detail {
                            h3 {
                                font-size: 2.3rem;
                            }

                            p {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    main {
        .section1 {
            .container {
                .bottom {
                    h1 {
                        font-size: 8rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    header {
        .left-container {
            nav {
                display: block;
            }

            .pro-btn {
                display: block;
            }
        }

        .right-container {
            display: flex;
        }

        .menu-toggle-btn {
            display: none;
        }
    }

    main {
        .section1 {
            margin: 0 auto;

            .container {
                display: flex;
                align-items: center;
                gap: 4rem;
                padding: 0 5rem;

                .top {
                    width: 50%;
                }

                .bottom {
                    width: 50%;

                    h1 {
                        font-size: 4rem;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 2rem;
                    }
                }
            }
        }

        .section2 {
            .container {
                padding: 0 5rem;
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .box {
                    .text {
                        h2 {
                            font-weight: 500;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .section3 {
            .container {
                flex-direction: row;
                align-items: center;
                gap: 4rem;
                padding: 0 5rem;

                .top {
                    width: 55%;
                }

                .bottom {
                    width: 45%;
                }

                .bottom {
                    h1 {
                        font-size: 4rem;
                    }

                    .para {
                        font-size: 2rem;
                        line-height: 1.5;
                    }
                }
            }
        }

        .section7 {
            .container {
                .text-box {
                    h2 {
                        font-size: 4.5rem;
                    }
                }

                .input-box {
                    max-width: 900px;

                    input {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}